<p style="color: green"><%= notice %></p>


<div class= ''>
  <h1 class = ''>Budget Saver</h1>

  <div class = ''>
    <%= link_to "Sign in",  user_session_path %>
    <%= link_to "Sign up",  new_user_registration_path %>
  </div>
</div>



