<h1>Editing purchase group</h1>

<%= render "form", purchase_group: @purchase_group %>

<br>

<div>
  <%= link_to "Show this purchase group", @purchase_group %> |
  <%= link_to "Back to purchase groups", purchase_groups_path %>
</div>
